---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";
@import "print";

// Custom

p+p {
  text-indent: 0rem;
  margin-top: 0rem;
}

.headline-wrap h1{
  line-height: 2.6rem;
}

.article-wrap p {
  font-size: 1.00rem;
  line-height: 1.6rem;
  a {
    color: #0288D1;
    text-decoration: none;
  }
  a.footnote {
    color: #EF6C00;
    font-style: italic;
  }
}
		
#index article h2{
  line-height: 1.5rem;
}